
body {background-color: #Ced0ce;}

h1 {
    background-color: #5C415D;
    color: #e6e8e6;
    font-family: Arial, Helvetica, sans-serif; 
}
h2{
    background-color: #5C415D;
    color: #e6e8e6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    margin-top: 20px;
}

h3{
    background-color: #5C415D;
    color: #e6e8e6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    margin-top: 20px; 
}

li{
     background-color: #F34213;
    color: #Ced0ce ;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 20px;
    width: 7%;
    border-radius: 5px;
}

p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 10px;
}

form{
    border-style: solid ;
    border-color: #5C415D;
    padding: 25px ;
    border-radius: 5px ;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="radio"] {
    margin-bottom: 10px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #F34213;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    color: #Ced0ce ;
    font-family: Arial, Helvetica, sans-serif; 
}
